gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Android specific build outputs
android/.gradle/
android/app/build/
android/app/intermediates/
android/app/outputs/
android/app/src/main/res/drawable*/**/*.png
android/app/src/main/res/drawable*/**/*.xml
android/.idea/
android/captures/
android/gradle-wrapper.jar
android/gradle-wrapper.properties
android/local.properties
android/*.iml
android/build/
*.hprof

# IntelliJ specific files
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Gradle files
.gradle/
build/
